<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script defer src="/javascripts/cart.js"></script>
	</head>
	<body class="flex-col max-width justify">
		<%- include('../partials/header') %>
		<br />
		<% cart.forEach((product, idx) => { %>
		<div class="cart flex">
			<img
				src="data:image/String;base64, 
					<%= product.image.data.toString('base64')%>"
			/>
			<span><b>Name: </b><%= product.name %> </span>
			<div>
				<b>Price: </b>
				<span class="prices"><%= product.price %> </span>
			</div>

			<span>
				<b>Quantity:</b>
				<input
					type="number"
					class="quantity"
					value="1"
					max="<%= product.quantity %>"
					min="0"
					name="quantity[<%= idx %>]"
					form="checkout"
				/>
			</span>

			<form
				method="POST"
				action="/user/<%= user._id %>/cart/<%= product._id %>?_method=PUT"
			>
				<input type="submit" value="Remove" />
			</form>
		</div>
		<% }); %> <% if(cart.length === 0) {%>
		<h2>Cart Empty</h2>
		<% } %>
		<div class="flex checkout">
			<span><b>Total Price:</b> </span>
			<span id="price"></span>
		</div>

		<form
			method="POST"
			action="/user/<%= user._id %>/cart/checkout"
			id="checkout"
		>
			<input type="submit" value="Checkout" />
		</form>
	</body>
</html>
