<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body class="flex justify max-width">
		<%- include('../partials/header') %>
		<form
			method="POST"
			action="/user/<%= product.seller._id %>/product/<%= product._id %>/edit?_method=PUT"
			enctype="multipart/form-data"
			class="form-info flex-col"
		>
			<h1>Edit Product</h1>
			<input
				type="text"
				name="name"
				required
				value="<%= product.name %>"
				placeholder="name"
			/>
			<input
				type="number"
				name="price"
				required
				value="<%= product.price %>"
				placeholder="price"
			/>
			<input
				type="number"
				name="quantity"
				required
				value="<%= product.quantity %>"
				placeholder="quantity"
			/>
			<input
				type="text"
				name="information"
				required
				value="<%= product.information %>"
				placeholder="information"
			/>
			<label for="image"> Select Image:</label>
			<input
				type="file"
				name="image"
				multiple
				accept="image/*"
				required
			/>
			<input type="submit" value="submit" />
		</form>
	</body>
</html>
