<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body class="flex-col max-width justify">
		<%- include('../partials/header') %>
		<img src="<%= user.avatar %>" />
		<span class="name"><%= user.firstName %> <%= user.lastName %> </span>
		<span class="contactNumber"><%= user.contactNumber %> </span>
		<% user.products.forEach(product => { %>
		<div class="product">
			<img
				src="data:image/String;base64, 
						<%= product.image.data.toString('base64')%>"
			/>
			<span><%= product.name %> </span>
			<span>$<%= product.price %> </span>
			<span><%= product.quantity %>pc</span>
		</div>
		<% }); %>
	</body>
</html>
