<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<%- include('../partials/header') %>
		<div>
			<img
				src="data:image/String;base64, 
					<%= product.image.data.toString('base64')%>"
			/>
			<span><%= product.name %> </span>
			<span>$<%= product.price %> </span>
			<span><%= product.quantity %>pc</span>
			<span><%= product.information %> </span>
		</div>
	</body>
</html>
