<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body class="flex max-width">
		<%- include('../partials/header') %>
		<div class="product-page flex">
			<img
				src="data:image/String;base64, 
					<%= product.image.data.toString('base64')%>"
			/>
			<div class="info flex-col">
				<span class="product-name"><%= product.name %> </span>
				<span class="product-price">Price: $<%= product.price %> </span>
				<span class="product-quantity"
					>Stock: <%= product.quantity %> pc(s) left
				</span>
				<span class="seller"
					>Seller:
					<a href="/user/<%= product.seller._id %> ">
						<%= product.seller.firstName %> <%=
						product.seller.lastName %>
					</a>
				</span>
				<span class="product-information">
					<span>Product Information:</span>
					<br />
					<%= product.information %>
				</span>
				<% if(`${user._id}` !== `${product.seller._id}`) {%> <%=
				console.log(user._id, product.seller._id) %>
				<form
					method="POST"
					action="/user/<%= user._id %>/add/<%= product._id %>"
				>
					<% if(product.quantity > 0) {%>
					<input type="submit" value="Add To Cart" />
					<% } else { %>
					<input type="submit" value="Sold Out" disabled />
					<% } %>
				</form>
				<% }; %>
			</div>
		</div>
	</body>
</html>
